<ul class="errors"></ul>
<h1><%= user.escape('username') %></h1>
<form class='profile-pic'>
  <input type="file" name="profile[profile_pic]" id="input-image">
  <button class='profile-pic-submit'>Upload Profile Pic</button>
</form>


<label>Profile Pic</label>
<img src='<%= profile.escape("profile_pic") %>' class='profile-pic'>

<label for='profile_self'>My self-summary<br>
  <input id='profile_self'
         type='text'
         name='profile[self_summary]'
         value='<%= profile.escape('self_summary')%>'><br>
</label><br>

<label for='profile_doing'>What I'm doing with my life<br>
  <input id='profile_doing'
         type='text'
         name='profile[what_im_doing]'
         value='<%= profile.escape('what_im_doing')%>'><br>
</label><br>

<label for='profile_really_good_at'>I'm really good at<br>
  <input id='profile_really_good_at'
         type='text'
         name='profile[im_really_good_at]'
         value='<%= profile.escape('im_really_good_at')%>'><br>
</label><br>

<label for='profile_favorites'>Favorite books, movies, shows, music, and food<br>
  <input id='profile_favorites'
         type='text'
         name='profile[favorites]'
         value='<%= profile.escape('favorites')%>'><br>
</label><br>

<label for='profile_six_things'>The six things I could never do without<br>
  <input id='profile_six_things'
         type='text'
         name='profile[six_things]'
         value='<%= profile.escape('six_things')%>'><br>
</label><br>

<label for='profile_thinking'>I spend a lot of time thinking about<br>
  <input id='profile_thinking'
         type='text'
         name='profile[thinking_about]'
         value='<%= profile.escape('thinking_about')%>'><br>
</label><br>

<label for='profile_friday_night'>On a typical Friday night I am<br>
  <input id='profile_friday_night'
         type='text'
         name='profile[friday_night]'
         value='<%= profile.escape('friday_night')%>'><br>
</label><br>

<label for='profile_message_me_if'>You should message me if<br>
  <input id='profile_message_me_if'
         type='text'
         name='profile[message_me_if]'
         value='<%= profile.escape('message_me_if')%>'><br>
</label><br>

<label for='profile_orientation'>Orientation<br>
  <input id='profile_orientation'
         type='text'
         name='profile[orientation]'
         value='<%= profile.escape('orientation')%>'><br>
</label><br>

<label for='profile_ethnicity'>Ethnicity<br>
  <input id='profile_ethnicity'
         type='text'
         name='profile[ethnicity]'
         value='<%= profile.escape('ethnicity')%>'><br>
</label><br>

<label for='profile_height'>Height<br>
  <input id='profile_height'
         type='text'
         name='profile[height]'
         value='<%= profile.escape('height')%>'><br>
</label><br>

<label for='profile_body_type'>Body Type<br>
  <input id='profile_body_type'
         type='text'
         name='profile[body_type]'
         value='<%= profile.escape('body_type')%>'><br>
</label><br>

<label for='profile_diet'>Diet<br>
  <input id='profile_diet'
         type='text'
         name='profile[diet]'
         value='<%= profile.escape('diet')%>'><br>
</label><br>

<label for='profile_smokes'>Smokes<br>
  <input id='profile_smokes'
         type='text'
         name='profile[smokes]'
         value='<%= profile.escape('smokes')%>'><br>
</label><br>

<label for='profile_drinks'>Drinks<br>
  <input id='profile_drinks'
         type='text'
         name='profile[drinks]'
         value='<%= profile.escape('drinks')%>'><br>
</label><br>

<label for='profile_drugs'>Drugs<br>
  <input id='profile_drugs'
         type='text'
         name='profile[drugs]'
         value='<%= profile.escape('drugs')%>'><br>
</label><br>

<label for='profile_religion'>Religion<br>
  <input id='profile_religion'
         type='text'
         name='profile[religion]'
         value='<%= profile.escape('religion')%>'><br>
</label><br>

<label for='profile_sign'>Sign<br>
  <input id='profile_sign'
         type='text'
         name='profile[sign]'
         value='<%= profile.escape('sign')%>'><br>
</label><br>

<label for='profile_education'>Education<br>
  <input id='profile_education'
         type='text'
         name='profile[education]'
         value='<%= profile.escape('education')%>'><br>
</label><br>

<label for='profile_job'>Job<br>
  <input id='profile_job'
         type='text'
         name='profile[job]'
         value='<%= profile.escape('job')%>'><br>
</label><br>

<label for='profile_income'>Income<br>
  <input id='profile_income'
         type='text'
         name='profile[income]'
         value='<%= profile.escape('income')%>'><br>
</label><br>

<label for='profile_status'>Status<br>
  <input id='profile_status'
         type='text'
         name='profile[status]'
         value='<%= profile.escape('status')%>'><br>
</label><br>

<label for='profile_relationship_type'>Relationship Type<br>
  <input id='profile_relationship_type'
         type='text'
         name='profile[relationship_type]'
         value='<%= profile.escape('relationship_type')%>'><br>
</label><br>

<label for='profile_offspring'>Offspring<br>
  <input id='profile_offspring'
         type='text'
         name='profile[offspring]'
         value='<%= profile.escape('offspring')%>'><br>
</label><br>

<label for='profile_pets'>Pets<br>
  <input id='profile_pets'
         type='text'
         name='profile[pets]'
         value='<%= profile.escape('pets')%>'><br>
</label><br>

<label for='profile_speaks'>Speaks<br>
  <input id='profile_speaks'
         type='text'
         name='profile[speaks]'
         value='<%= profile.escape('speaks')%>'><br>
</label><br>



<button class='update-profile'>Update Profile</button>

<a href="#/">Back To Index</a>
