<div class='profile-container group'>
  <div class='profile-header group'>
    <img src='<%= profile.escape("profile_pic") %>' class='profile-pic'>
    <div class='profile-user-info'>
      <h1><%= user.username %></h1>
      <h2><%= 2015 - user.year %> * <%= user.country %>, <%= user.zip_code %> * <%= user.gender %></h2>
    </div>

    <% if(!(profile.user().id === OKCupid.CurrentUser.id)) { %>
      <% if (profile.alreadyLiked()) { %>
        <button class='like'>Unlike!</button>
      <% } else { %>
        <button class='like'>Like!</button>
      <% } %>
    <% } %>
  </div>

  <div class='profile-info-section'>
    <h2 for='profile_self'>My self-summary</h2>
    <p><%= profile.escape('self_summary')%></p>

    <h2 for='profile_doing'>What I'm doing with my life</h2>
    <p><%= profile.escape('what_im_doing')%></p>

    <h2 for='profile_really_good_at'>I'm really good at</h2>
    <p><%= profile.escape('im_really_good_at')%></p>

    <h2 for='profile_favorites'>Favorite books, movies, shows, music, and food</h2>
    <p><%= profile.escape('favorites')%></p>

    <h2 for='profile_six_things'>The six things I could never do without</h2>
    <p><%= profile.escape('six_things')%></p>

    <h2 for='profile_thinking'>I spend a lot of time thinking about</h2>
    <p><%= profile.escape('thinking')%></p>

    <h2 for='profile_friday_night'>On a typical Friday night I am</h2>
    <p><%= profile.escape('friday_night')%></p>

    <h2 for='profile_message_me_if'>You should message me if</h2>
    <p><%= profile.escape('message_me_if')%></p>
  </div>

  <div class='profile-stats-section'>
    <h1>My Details</h1>

    <div class='profile-info-item group'>
      <h2 for='profile_orientation'>Orientation</h2>
      <p><%= profile.escape('orientation')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_ethnicity'>Ethnicity</h2>
      <p><%= profile.escape('ethnicity')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_height'>Height</h2>
      <p><%= profile.escape('height')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_body_type'>Body Type</h2>
      <p><%= profile.escape('body_type')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_diet'>Diet</h2>
      <p><%= profile.escape('diet')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_smokes'>Smokes</h2>
      <p><%= profile.escape('smokes')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_drinks'>Drinks</h2>
      <p><%= profile.escape('drinks')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_drugs'>Drugs</h2>
      <p><%= profile.escape('drugs')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_religion'>Religion</h2>
      <p><%= profile.escape('religion')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_sign'>Sign</h2>
      <p><%= profile.escape('sign')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_education'>Education</h2>
      <p><%= profile.escape('education')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_job'>Job</h2>
      <p><%= profile.escape('job')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_income'>Income</h2>
      <p><%= profile.escape('income')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_status'>Status</h2>
      <p><%= profile.escape('status')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_relationship_type'>Relationship Type</h2>
      <p><%= profile.escape('relationship_type')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_offspring'>Offspring</h2>
      <p><%= profile.escape('offspring')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_pets'>Pets</h2>
      <p><%= profile.escape('pets')%></p>
    </div>

    <div class='profile-info-item group'>
      <h2 for='profile_speaks'>Speaks</h2>
      <p><%= profile.escape('speaks')%></p>
    </div>
  </div>
</div>
