<h1><%= user.username %> </h1>

<% if(!(profile.user().id === OKCupid.CurrentUser.id)) { %>
  <% if (profile.alreadyLiked()) { %>
    <button class='like'>Unlike!</button>
  <% } else { %>
    <button class='like'>Like!</button>
  <% } %>
<% } %>

<label for='profile_self'>My self-summary<br>
  <%= profile.escape('self_summary')%><br>
</label><br>

<label for='profile_doing'>What I'm doing with my life<br>
  <%= profile.escape('what_im_doing')%><br>
</label><br>

<label for='profile_really_good_at'>I'm really good at<br>
  <%= profile.escape('im_really_good_at')%><br>
</label><br>

<label for='profile_favorites'>Favorite books, movies, shows, music, and food<br>
  <%= profile.escape('favorites')%><br>
</label><br>

<label for='profile_six_things'>The six things I could never do without<br>
  <%= profile.escape('six_things')%><br>
</label><br>

<label for='profile_thinking'>I spend a lot of time thinking about<br>
  <%= profile.escape('thinking')%><br>
</label><br>

<label for='profile_friday_night'>On a typical Friday night I am<br>
  <%= profile.escape('friday_night')%><br>
</label><br>

<label for='profile_message_me_if'>You should message me if<br>
  <%= profile.escape('message_me_if')%><br>
</label><br>

<label for='profile_orientation'>Orientation<br>
  <%= profile.escape('orientation')%><br>
</label><br>

<label for='profile_ethnicity'>Ethnicity<br>
  <%= profile.escape('ethnicity')%><br>
</label><br>

<label for='profile_height'>Height<br>
  <%= profile.escape('height')%><br>
</label><br>

<label for='profile_body_type'>Body Type<br>
  <%= profile.escape('body_type')%><br>
</label><br>

<label for='profile_diet'>Diet<br>
  <%= profile.escape('diet')%><br>
</label><br>

<label for='profile_smokes'>Smokes<br>
  <%= profile.escape('smokes')%><br>
</label><br>

<label for='profile_drinks'>Drinks<br>
  <%= profile.escape('drinks')%><br>
</label><br>

<label for='profile_drugs'>Drugs<br>
  <%= profile.escape('drugs')%><br>
</label><br>

<label for='profile_religion'>Religion<br>
  <%= profile.escape('religion')%><br>
</label><br>

<label for='profile_sign'>Sign<br>
  <%= profile.escape('sign')%><br>
</label><br>

<label for='profile_education'>Education<br>
  <%= profile.escape('education')%><br>
</label><br>

<label for='profile_job'>Job<br>
  <%= profile.escape('job')%><br>
</label><br>

<label for='profile_income'>Income<br>
  <%= profile.escape('income')%><br>
</label><br>

<label for='profile_status'>Status<br>
  <%= profile.escape('status')%><br>
</label><br>

<label for='profile_relationship_type'>Relationship Type<br>
  <%= profile.escape('relationship_type')%><br>
</label><br>

<label for='profile_offspring'>Offspring<br>
  <%= profile.escape('offspring')%><br>
</label><br>

<label for='profile_pets'>Pets<br>
  <%= profile.escape('pets')%><br>
</label><br>

<label for='profile_speaks'>Speaks<br>
  <%= profile.escape('speaks')%><br>
</label><br>



<input type="submit">

<a href="#/">Back To Index</a>
